<%= form_with(model: planet, local: true) do |form| %>
  <% if planet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(planet.errors.count, "error") %> prohibited this planet from being saved:</h2>

      <ul>
      <% planet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :galaxy %>
    <%= form.text_field :galaxy %>
  </div>

  <div class="field">
    <%= form.label :temperature %>
    <%= form.number_field :temperature %>
  </div>

  <div class="field">
    <%= form.label :moons %>
    <%= form.number_field :moons %>
  </div>

  <div class="field">
    <%= form.label "Alien Groups:" %>
      <%= form.collection_check_boxes :alien_group_ids, AlienGroup.all, :id, :name %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
